@keyframes scaleUp {
  from {
    transform: scale(0%);
  }

  to {
    transform: scale(100%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes rotate-and-scale-up {
  from {
    transform: rotate(0deg) scale(0%);
  }
  to {
    transform: rotate(360deg) scale(100%);
  }
}